/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
	color: #585858; /* overriding */
}

a:hover {
	color: #66cc99;
	background-color: #fff; /* overriding */
}

/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
  width: 100%;
  height: 400px;
  margin-bottom: 75px;
  margin-top: 25px;
}

#error_explanation {
  border: none;
}

#error_explanation h2 {
  background-color: inherit;
  color: red;
}